body, html {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #0c2333;
  color: #e8e8e8;
  font-family: 'Maven Pro', sans-serif;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -130px;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  text-shadow: 0px 0px 6px rgba(142,221,252,0.5);
  color: #37c7ff;
}

.navbar {
  background-color: #0c2333;
  font-size: 17px;
  border-bottom: 1px solid #03314d;
}

.navbar-default .navbar-nav > li > a {
  opacity: 0.7;
  font-size: 0.8em;
  border-bottom: 3px solid #0c2333;
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  opacity: 1;
  color: #ecf0f1;
  border-bottom: 3px solid #b0f173;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  opacity: 1;
  font-weight: bold;
  background-color: #0c2333;
  color: #ecf0f1;
}

.navbar-default .navbar-brand {
  color: #e8e8e8;
  font-size: 25px;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

header {
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #0c2333;
  color: #7f8c8d;
}

header h1 {
  font-size: 25px;
  line-height: 50px;
}

footer {
  height: 100px;
  border-top: thick outset #27ae60;
  background-color: #333;
  color: #ecf0f1;
  margin-top: 50px;
}

footer > div {
  text-align: center;
}


h1 {
  font-size: 20px;
  font-weight: thin;
}



/* Home Page */

.jumbotron {
  border-bottom: thin dashed #bdc3c7;
}

.glyphicon-huge {
  font-size: 20em;
  color:white;
}

.push {
  height: 130px;
}

/* Dashboard and Database Manager*/

.tableHeader {
  border-left: 3px solid #03314d;
  background-color: #03314d;
  margin-bottom: 10px;
  padding: 0 10px 15px 10px;
}

.tableHeader > th {
  opacity: 0.4;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
  height: 40px;
}

.server:hover {
  border-left: 3px solid #b0f173;
}

.server {
  border-left: 3px solid #0c2333;
}

.server td {
  padding: 20px 10px 20px 10px;
  vertical-align: text-top;
}

/* Dashboard */

.waterTable {
  width: 100%;
}

.waterTable input {
  background: rgba(44, 118, 147, 0.5);
  padding: 2px 10px;
  border: none;
}

.waterTable input:focus {
  outline: none;
}


@-webkit-keyframes digg {
  from { color: #b0f173; text-shadow: none}
  50% { color: #b0f173; text-shadow: 0 0 4px rgba(192,248,39,0.6)}
  to { color: #b0f173; text-shadow: none}
}

.on {
  -webkit-animation-name: digg;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

.off {
  /*text-shadow: 0px 0px 2px #FE2E2E;*/
  color: #bf0606;
}

.name {
  width: 20%;
}

.status {
  width: 10%;
}

.port {
  width: 10%;
}

.endpoints {
  width: 48%;
}

.actions {
  width: 12%;
}

.action {
  vertical-align: text-top;
  display: inline-block;
  margin-right:10px;
  border: none;
  background: transparent;

}

.action:hover {
  cursor: pointer;
}


/*Database Manager*/

.document:hover {
  border-left: #b0f173 solid 4px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.attribute {
  margin-bottom: 10px;
}

.remove {
  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
  color: #a4a4a4;
  font-size: 15px;
  opacity: 0.2;
}

.remove:hover {
  color: #6e6e6e;
  opacity: 1;
}

label, input {
  margin-right: 10px;
}

.createServer input {
  color: #e8e8e8;
  border-bottom: 1;
  background-color: transparent;
  outline: none;
}

select.dim {
  background-color: gray;
}

/* Create Server */

.resource {
  border-left: 3px solid #b0f173;
  margin: 10px;
  border: 2px solid #03314d;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}