<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="DashboardCtrl">
  <header>
    <div class="container">
      <h2>Dashboard</h2>
    </div>
  </header>
  
  <div class="container">
    <h2>
      Servers
      <a class="btn btn-success pull-right" ng-href="/dashboard/create">Create New Server</a>
    </h2>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <tr class="resource">
          <th class="name">Name</th>
          <th class="status">Status</th>
          <!--<th>ID</th>-->
          <th class="port">Port</th>
          <th class="endpoints">API Endpoints</th>
          <th class="actions">Actions</th>
        </tr>

        <!-- list servers -->
        <tr ng-repeat="server in servers">
          <td>{{server.name}}</td>
          <td>
            <span ng-show="server.status.port" class="on">Running</span>
            <span ng-hide="server.status.port" class="off">Stopped</span>
          </td>
          <!--<td>{{server._id}}</td>-->
          <td>{{server.status.port}}</td>
          <td><p ng-repeat="resource in server.resources">{{resource.description}}</p></td>
          <td>
            <h4>
              <a class="btn-sm btn-info glyphicon glyphicon-off action" ng-show="server.status.port" ng-click="toggleServer(server)" href=""></a>
              <a class="btn-sm btn-info glyphicon glyphicon-off action" ng-hide="server.status.port" ng-click="toggleServer(server)" href=""></a>
              <a class="btn-sm btn-primary glyphicon glyphicon-pencil action" ng-href="/manager/{{server.name}}/{{server._id}}"></a>
              <a class="btn-sm btn-danger glyphicon glyphicon-trash action" ng-click="deleteServer(server)" href=""></a>
            </h4>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>