<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <header>
    <div class="container">
      <h1>Dashboard</h1>
    </div>
  </header>
</div>
<div class="container" ng-controller="DashboardCtrl">
  <div class="row">
    <div class="pull-left">
      <h1>Servers</h1>
    </div>

    <div class="pull-right">
      <a class="btn btn-success" ng-href="/dashboard/create">Create API</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Status</th>
          <!--<th>ID</th>-->
          <th>Port</th>
          <th>API Endpoints</th>
          <th>Actions</th>
        </tr>

        <!-- list servers -->
        <tr ng-repeat="server in servers">
          <td><a class="" ng-href="/manager/{{server.name}}/{{server._id}}">{{server.name}}</a></td>
          <td>
            <span ng-show="server.status.running" class="on">Running</span>
            <span ng-hide="server.status.running" class="off">Stopped</span>
          </td>
          <!--<td>{{server._id}}</td>-->
          <td>{{server.status.port}}</td>
          <td><p ng-repeat="resource in server.resources">{{resource.description}}</p></td>
          <td>
            <a class="glyphicon glyphicon-off start" ng-click="toggleServer(server)" href=""></a>
            <a class="glyphicon glyphicon-trash trash" ng-click="deleteServer(server)" href=""></a>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>