<div class="home">
  <div ng-include="'partials/navbar'"></div>

  <div class="container">
    <div class="homeLogo"><img src='./images/waterbase-logo.png' class="w">aterbase</div>
    <!-- <div style="text-align: center"><h2>Welcome back, Tristan</h2></div> -->
    <div class="homeSlogan">
      <h3>Streamline Your Realtime Application</h3>

      <p>Waterbase's fluid API stores and synchronizes your data in fractions of a second.</p>
      <p>Streamline your realtime mobile and web app creation using our client-side code.</p>
      <p>Waterbase saves you time. Go play.</p>
    </div>
  </div>
</div>