<div ng-include="'partials/navbar.html'"></div>

<!-- Header -->

<!-- /Header -->


<div ng-controller='NewApiCtrl'>
  <div class="row">
    <header>

      <div class="container">
      <div>
        <h1>{{serverName ? serverName : "Create New Server"}}</h1>
      </div>
      </div>
    </header>
  </div>
  <div class="container">
    <form class="form" name="form" ng-submit="submitForm()" novalidate>
          <div class="form-group col-sm-12">
            <h4>Server Name</h4>
            <input type='text' class ="form-control" ng-model='serverName' >
          </div>
          <div ng-repeat='resource in resources track by $index'>
            <div class="col-sm-6 resource">
              <h4>Resource Name</h4>
              <div class="form-inline">
                <input type='text' class="form-control" ng-model='resource.resourceName' >
                <button type="button" class="btn btn-success pulse" ng-click='createNewField()'><span class="glyphicon-plus"></span></button>
                <button type="button" class="btn btn-failure" ng-click='removeField(resource)' ng-hide='resource === resources[0]'><span class="glyphicon-minus"></span></button>
              </div>
              </br>
              <h4>Attribute</h4>
              <div ng-repeat='(key,value) in resource.attributes track by $index'>
                <div class="form-inline">
                  <label>Name</label>
                  <input type='text' class="form-control" ng-model='value.name' >
                  <label>Type</label>
                  <select class="form-control" ng-model='value.type' >
                    <option selected="selected" value="String">String</option>
                    <option value="Number">Number</option>
                    <option value="Boolean">Boolean</option>
                  </select>
                  <button type="button" class="btn btn-success pulse" ng-click='createSubField(resource.attributes)'><span class="glyphicon-plus"></span></button>
                  <button type="button" class="btn btn-failure" ng-click='removeSubField(resource.attributes,value)' ng-hide='value === resource.attributes[0]'><span class="glyphicon-minus"></span></button>
                </div>
                </br>
              </div>
            </div>
          </div>
          </br>
          </br>
          </br>
          </br>
          <div class="col-sm-12">
            <button class="btn btn-lg btn-primary" style="width: 100%;"type="submit">Create API</button>
          </div>
    </form>
  </div>
</div>
<!-- /New API Form -->